.project
.pydevproject
*.log
components/
docs/
make_exe/
media/
media_src/
ogre.cfg
operations/
plugins.cfg
plugins/
resources.cfg
start.py
repo/fs_repo/
repo/repoBuilder/*.pyc
repo/repoBuilder/*.log
